.card-flex {
  display: flex;
  /* flex: 1 0 21%;
  margin: 5px;
  height: 100px; */
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.img-detail {
  height: 50vh;
  width: 100%;
}
.img-card {
  height: 170px;
}
.bg-lightblue {
  background-color: #b1d0e0;
}
.card {
  background-color: #b1d0e0;
}
.main_content .card {
  width: 30%;
  border-radius: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 50px;
}

.main_content .card .card_img {
  margin-top: -5vw;
}

.main_content .card .card_img img {
  width: 180px;
}

.main_content .card .card_header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  margin: 30px 0;
}

.main_content .card .card_header h2 {
  font-size: 18px;
}

.main_content .card .card_header p {
  font-size: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  margin: 8px 0;
}

.main_content .card .card_header .price {
  font-size: 25px;
  color: #fe8033;
}

.main_content .card .card_header .price span {
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
}

.main_content .card:hover {
  background-color: #2b3039;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.main_content .card:hover .btn {
  background-color: #fe8033;
  color: #fff;
}

.btn {
  width: 130px;
  height: 35px;
  font-size: 14px;
  border-radius: 35px;
  background-color: #2d343e;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  position: relative;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  overflow: hidden;
}
